<div class= "container">
<h4> For Us By Us</h4>
</div>

<div class = "row">
		<table>
			<tr>
						<% @categories.all.each do |category|%>

							<div class = "col-sm-4">

								<div class ="indexPage">

										<h1><%=link_to category.category, "/categories/#{category.id}"%></h1>

										<img src= "<%=category.avatar.url(:medium)%>">
								</div>
						</div>
						<%end%>
			</tr>
		</table>
	</div>
</div>
